<footer>
	<p>
		{{- range .Site.Menus.footer }}
		<a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
		{{- end }}
		<br>
		&copy; {{ now.Year }}
		{{ if .Site.Copyright }}{{ .Site.Copyright }}.
		{{ else }}{{ .Site.Title }}{{ end }}
		<a href="https://beian.miit.gov.cn/">京ICP备19015214号-1</a>
		<noscript>
			<img src="https://shynet.vimiix.com/ingress/7c85700e-0592-42ce-82b8-24bc42798b16/pixel.gif">
		</noscript>
		<script defer src="https://shynet.vimiix.com/ingress/7c85700e-0592-42ce-82b8-24bc42798b16/script.js"></script>
	</p>
</footer>